
bin/
.cache
*.class
devtools/keystore.jks
.classpath
.sf-testing-cache
.genomeview
genomeview.properties
TEST-*
/bin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/genomeview-*.zip
